.taskContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
}

.taskInfo {
	display: flex;
	justify-self: center;
	align-items: start;
	flex-direction: column;
	width: 60%;
	height: auto;
}

h1 {
	margin-bottom: 10px;
}

h2 {
	margin-bottom: 20px;
}

p {
	margin-bottom: 10px;
}

.editForm {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

.editForm input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.editForm button {
	background-color: #28a745;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.editForm button:hover {
	background-color: #218838;
}
